<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 p1">
            <h2>Registro de Hotel en Swing</h2>
            <p>Es un proyecto realizado con java Swing , donde se llevaba el registro de ingreso de clientes del hotel</p>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2" >
            <img src="../../../assets/foto Clientes.jfif" class="img-fluid img-proyecto">
        </div>

        <br><br><br>
    </div>
    
</div>