<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 p1">
            <h2>Encriptador</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum incidunt cumque quae doloribus quod numquam, mollitia similique doloremque error autem non consectetur fuga blanditiis necessitatibus exercitationem officia dicta repellendus temporibus?</p>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 p2" >
            <img src="../../../assets/python.png" class="img-fluid img-proyecto">
        </div>

        <br><br><br>
    </div>
    
</div>