
<div class="row" id="header">
    <app-header></app-header>
  
  </div>
  <div class="row" id="acercaDe">
    <app-acerca-de></app-acerca-de>
  </div>
  <div class="row" id="experiencia">
    <app-experiencias></app-experiencias>
  </div>
  <div class="row" id="">
  
  <app-educacion></app-educacion>
  </div>
  <div class="row" id="hys">
  <app-hys></app-hys>
  </div>
  <div class="row" id="proyecto">
    <app-proyecto></app-proyecto>
  </div>
  
  
  <div class="row" id="footer">
    <app-footer></app-footer>
  </div>
  