<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoA.Ppng.png" id="logoAP" alt="">
        </div>
        <div class="redes">
            
                <a href="https://www.google.com"><img src="../../../assets/linkedin-logo-png-1845.png" id="linkedin" alt=""></a>
                <a href=""><img src="../../../assets/Twitter.png" id="twitter" alt=""></a>
                <a href=""><img src="../../../assets/Instagram.png" id="instagram" alt=""></a>
                <a href=""><img src="../../../assets/github.png" id="github" alt=""></a>
                <a href=""><img src="../../../assets/facebook.png" id="facebook" alt=""></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Session</button>
            
        </div>
    </div>
</div>
