<div class="row" id="educacion">
    <h1>Educación</h1>
    <div class="col-1"></div>
    <div class="col-11">
        <ul>
            <li>
                <h1>Educacion 1</h1>- <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, accusantium facilis numquam ad, quaerat harum modi suscipit, a veritatis odit voluptate mollitia laborum totam sequi sunt nulla illo incidunt ratione!</p>
        </ul>
        <ul>
            <li>
                <h1>Educación 2</h1>- <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, accusantium facilis numquam ad, quaerat harum modi suscipit, a veritatis odit voluptate mollitia laborum totam sequi sunt nulla illo incidunt ratione!</p>
        </ul>
        <ul>
            <li>
                <h1>Educación 3</h1>- <h3>years</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, accusantium facilis numquam ad, quaerat harum modi suscipit, a veritatis odit voluptate mollitia laborum totam sequi sunt nulla illo incidunt ratione!</p>
        </ul>
    </div>