<div class="row">
    <div class="col-3">
        <img src="../../../assets/perfilFoto.jpg" class="img-fluid" id="fotoDePerfil" alt="">
    </div>

    <div class="col-9">
        <h3>Chaile Luis Sebastian</h3>
        <h5>Full Stack Developer Jr</h5>
        <br>
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia commodi perferendis provident impedit enim similique, facilis ut illum error sapiente, quod in blanditiis expedita repellendus deserunt tenetur aspernatur quo molestiae?</p>
        </span>
    
    </div>

</div>
